* {
  box-sizing: border-box;
}

.info-table {
  height: 200px;
  border: 1px solid black;
  border-spacing: 0;
}

.header-row {
  height: 50%;
  background-color: #558f8f; 
  color: #f5f555; 
}
.header-row:hover {
  background-color: #f5f555;
  color: #558f8f;
}

.details-row {
  height: calc(100% / 3);
  background-color: #f5f555;
  color: #558f8f;
}
.details-row:hover {
  background-color: #558f8f;
  color: #f5f555;
}

.empty-row {
  height: calc(100% / 6);
}

.header-row td,
.details-row td,
.empty-row td {
  width: 200px;
  border: 1px solid black;
  padding: 0;
}

td.no-border-cell {
  border: none;
}

.nested-table {
  width: 100%;
  height: 100%;
  border-spacing: 0;
  border: none;
}

.rgb-container {
  display: flex;
  gap: 60px;
  margin-top: 40px;
}

.position-container {
  position: relative;
  width: 250px;
  height: 250px;
}

.position-circle {
  position: absolute;
  border-radius: 50%;
  border: 2px solid;
  width: 150px;
  height: 150px;
}

.position-red {
  top: 0;
  left: calc(50% - 75px);
  background-color: rgba(255, 0, 0, 0.4);
  z-index: 1;
}

.position-blue {
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 255, 0.4);
  z-index: 2;
}

.position-green {
  right: 0;
  bottom: 0;
  background-color: rgba(0, 255, 0, 0.4);
  z-index: 3;
}

.transform-container {
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transform-circle {
  position: absolute;
  border-radius: 50%;
  border: 2px solid;
  width: 150px;
  height: 150px;
}

.transform-red {
  background-color: rgba(255, 0, 0, 0.4);
  transform: translate(0, -50px); 
  z-index: 1;
}

.transform-blue {
  background-color: rgba(0, 0, 255, 0.4);
  transform: translate(-50px, 50px); 
  z-index: 2;
}

.transform-green {
  background-color: rgba(0, 255, 0, 0.4);
  transform: translate(50px, 50px); 
  z-index: 3;
}
